@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*Nav section starts here*/
.navbar{
    height: 120px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

}
.logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-g{
    font-size: 45px;
    color: coral;
}
.logo-rest{
    font-size: 45px;
    font-weight: 700;
}
.menu-holders{
    display: flex;
    gap: 30px;
}
.logo-g{
    font-size: 3rem;
    font-weight: 700;
    color:#fa3c9e;
}
.menu{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}
.menues ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.menues >ul li{
    list-style: none;
}
.menues ul li a{
    text-decoration: none;
}

.follow-menues{
    display: flex;
    border: 1px solid gray;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 0px 40px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    gap:20px;
}
.followus{
    font-size: 14px;
    gap:100px;
}
.fa-brands{
    font-size: 22px;
}
/*Nav section Ends here*/




/*banner saction Start*/
.banner-holder{
    height: 600px;
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 250, 245, 0.192);
}

.bannser-text-holder{
    width: 40%;
    height: 500px;

}
.bannser-text-holder div{
    justify-content: center;
}

.banner-img-holder{
    width: 60%;
    height: 550px;
    background-image: url(banner-img.png);
    background-position: center;
    background-size: cover;
}

.banner-title{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;

}

.banner-gaot{
    margin-top: 0px;
    font-size: 80px;
    color: #fa3c9e;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;

}

.list{
    font-size: 22px;
    text-align: left;
}
.btn-div{
    text-align: left;
}

.btn-01{
    background-color: #fa3c9e;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding: 10px 30px;
    border:none;
    justify-content: left;


}
.btn-02{
        background-color: #0ddaf0;
        border-radius: 25px;
        font-size: 16px;
        color: white;
        padding: 10px 30px;
        border:none;
    }

/*banner saction end*/





/*online cards saction start*/

.online-games-header{
    margin-top: 100px;
    text-align: center;
}
.card-container{
    height: 500px;
    margin-left: 120px;
    margin-right: 120px;
}

.cards-holder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-evenly;
}
   

.cards{
    color: black;
    border-radius: 40px;
    cursor: pointer;
    transition: border-color 0.4s ease;
}
.container:hover{
    border: 5px solid rgb(255, 4, 209);
    border-radius: 20px;
    
}

/*online cards saction end*/




/*position relative banner start*/
.main-banner-text{
    text-align: right;
}
.banner-paragraph{
font-size: 16px;
font-weight: normal;

}

.main-banner-container{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
   
.main-banner-text{
    width: 40%;
    text-align: center;
    padding: 100px;
    align-items: center;
}
.main-img-container{
    padding: 50px;
    align-items: center;
    justify-content: center;
    position: relative;

}
.sticker{
    width:200px;
    height: 200px;
    position: absolute;
    top: 320px;
    right:320px

}

/*position relative banner end*/



/*hober butoon starts*/
.icon-hober-holder > div{
    margin-top: 20px;
    margin-bottom: 60px;
    display:flex;
    gap: 20px;
    
}

.icon-hober-holder{
    margin-top: 200px;
    display: flex;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px ;
}
.common-button{
    background-color: none;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.4s ease;
}
.common-button:hover{
    border: 2px solid rgb(255, 4, 209);;
}


/*hober section end*/



/*Footer starts*/
.fotter-info-holder{
    height: 400px;
    margin-top:20px;
    background-color: black;
}

.footer-logo{
    color:white;
}

.footertag{
    color: white;
}
.footertag> ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.footer-icon-holder{
    display: flex;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.footer-icon-holder >div{
    display: flex;
    gap: 20px;
}
        
.all-rights{
    text-align: center;
}

.footer-logo{
    font-size: 50px;
    font-weight: 700;

}
/*footer ends*/



/*hober butoon starts*/
@media screen and (max-width:576px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: none;}
.logo-g{
        font-size: 40px;
        color: coral;}

.menu-holders{
    display: flex;
    flex-direction: column;

}

.banner-holder{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
         }
.bannser-text-holder{
    width: 300px;
    height: 500px;
    border: none;
    }
.bannser-text-holder div{
            justify-content: center;}

.banner-img-holder{
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border: none;
}
.banner-img-holder{
    background-image: url(banner-img.png);
    background-position: center;
    background-size: cover;
}
.online-games-header{
    margin-top: 100px;
    text-align: center;
}

.cards-holder{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}


.main-banner-container{
    display: flex;
    flex-direction: column;
    margin-top: 750px;
    margin-left: 5px;
    margin-right: 5px;

}
.main-banner-text{
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    padding: 0px;
}


.main-img-container{
    align-items: center;
    justify-content: center;
    position: relative;

}
.sticker{
    width:200px;
    height: 200px;
    position: absolute;
    top: 350px;
    right: 20px;
    padding: 0px;;

}




.icon-hober-holder > div{
    margin-top: 50px;
    margin-bottom: 60px;
    display:flex;
    gap: 20px;
    
}

.icon-hober-holder{
    display: flex;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px ;
}



.fotter-info-holder{
    height: 350px;
    width: 450px;
    margin-top:20px;
    background-color: black;
}

.footer-icon-holder >div{
    display: flex;
    gap: 10px;
}
}





